<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Leaflet Quick Start Guide Example</title>
	<meta charset="utf-8">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
    <!--[if lte IE 8]>
         <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
    <![endif]-->
	
</head>
<body>
	<div id="map" style="width: 1200px; height: 600px; position: relative;" 
    class="leaflet-container leaflet-fade-anim" tabindex="0">
    <div class="leaflet-map-pane" style="-webkit-transform: translate3d(0px, 0px, 0);">
    <div class="leaflet-tile-pane">
    <div class="leaflet-layer">
    <div class="leaflet-tile-container"></div>
    <div class="leaflet-tile-container leaflet-zoom-animated">
    
    <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>	
	<script>

		var map = L.map('map').setView([52.505, -0.09], 6);

		L.tileLayer('http://{s}.tile.cloudmade.com/BC9A493B41014CAABB98F0471D759707/997/256/{z}/{x}/{y}.png', {
			maxZoom: 18,
			attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>'
		}).addTo(map);


		L.marker([51.5, -0.09]).addTo(map)
			.bindPopup("<b>Hello world!</b><br />I am a popup.");
        
        L.marker([52.5, -0.09]).addTo(map)
			.bindPopup("<b>Second Point!</b><br />I am a popup.");

		<!--var popup = L.popup(); -->


	</script>


</body></html>
